extends layout

block content
  header#header.fixed-top
    .container.d-flex.align-items-center.justify-content-between
      //- a.logo(href='/')
      //-   img.img-fluid(src='assets/img/logo.png', alt='')
      div
        div
          a.mda-nav-logo(href="https://scrp.breakthroughcancer.org/",target="_self")
              img(src="/assets/img/BTC_LOGO_RGB.png", 
              alt="Break Through Cancer", height = "83")

        div.majortitle
          span
            h2 <span>S</span>ingle <span>C</span>ell <span>R</span>esearch <span>P</span>ortal

      nav#navbar.navbar
        ul
          li
            a.nav-link.scrollto(href='https://breakthroughcancer.org',
            target="_blank") Contact
        i.bi.bi-list.mobile-nav-toggle

  // End Header
  main#main
    // ======= Counts Section =======
    section#counts.counts
      .container
        .row.counters.position-relative
          .col-lg-2.col-6.text-center
            span.purecounter(data-purecounter-start='0', data-purecounter-end=counts.cells, data-purecounter-duration='1')
            p Cells
          .col-lg-2.col-6.text-center
            span.purecounter(data-purecounter-start='0', data-purecounter-end=counts.patients, data-purecounter-duration='1')
            p Patients
          .col-lg-2.col-6.text-center
            span.purecounter(data-purecounter-start='0', data-purecounter-end=counts.samples, data-purecounter-duration='1')
            p Samples
          .col-lg-2.col-6.text-center
            span.purecounter(data-purecounter-start='0', data-purecounter-end=counts.organs, data-purecounter-duration='1')
            p Organs
          .col-lg-2.col-6.text-center
            span.purecounter(data-purecounter-start='0', data-purecounter-end=counts.cancers, data-purecounter-duration='1')
            p Cancers
          .col-lg-2.col-6.text-center
            span.purecounter(data-purecounter-start='0', data-purecounter-end=counts.studies, data-purecounter-duration='1')
            p Studies 
    // End Counts Section
    // ======= Services Section =======
    section#studies.services.section-bg
      .container
        .section-title
          h2 Studies
          p
            | Web portal for each study
        .row
           - each item in links
               .col-lg-4.col-md-6
                 div(class="icon-box #{item.css_class}")
                   .icon
                     i(class="bi #{item.icon}")
                   h4.title
                     a(href=item.link) #{item.title}
                   p.description
                       | !{item.description}
            
    // End Services Section
    .container.py-4
      p
        a.mda-nav-logo(href="https://breakthroughcancer.org/",target="_blank")
          img(src="/assets/img/xmobilelogo.resize.png.pagespeed.ic.j92o1m7p2y.png",
          alt="Break Through Cancer", height = "100%")
      p.copyright
        | &copy; Copyright 
        strong
          span Linghua Wang's Lab @ MD Anderson Cancer Center
        | . All Rights Reserved
  // End Footer
  a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
    i.bi.bi-arrow-up-short
  // Vendor JS Files
  script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='assets/vendor/purecounter/purecounter.js')
  script(src='assets/vendor/glightbox/js/glightbox.min.js')
  script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
  script(src='assets/vendor/swiper/swiper-bundle.min.js')
  script(src='assets/vendor/php-email-form/validate.js')
  script(src='assets/js/main.js')
